.img img {
    height: 110px;
    margin-right: 35px;
    margin-left: -350px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menu {
    display: flex;
}

.menu nav a {
    font-size: 20px;
    margin: 15px;
    text-decoration: none;
    color: #000;
}

.social {
    position: absolute;
    right: 160px;
}

.social button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.social button i {
    color: #25D366;
}